<a mat-button [routerLink]="['/households']">
  <mat-icon>arrow_back</mat-icon>
  Back To List
</a>
<mat-card>
  <mat-card-title>
    <mat-icon class="header-icon">{{householdsService.householdTypeIcon(simulation.type)}}</mat-icon>
    {{simulation.simName}}
  </mat-card-title>
  <mat-card-content>
    <div class="section">
      <app-availabilities-table [availabilities]="simulation.availabilities"></app-availabilities-table>
    </div>
    <mat-divider></mat-divider>
    <div class="section">
      <app-appliances-table [appliances]="simulation.appliances"></app-appliances-table>
    </div>
    <mat-divider></mat-divider>
    <div class="section chart-section">
     <app-load-curve-chart [measurements]="simulation.resultLoadCurve.measurements"></app-load-curve-chart>
    </div>
  </mat-card-content>
</mat-card>
